*{
  margin: 0;
}
.navbar{
  display: block;
  margin: 10px 20px;
  
  .logoDiv{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
  }
}
 

#navList{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
 
  gap: 20px;

  li{
    list-style: none;
  }
}

#landingDiv{
  width: 100%;
  height: 100vh;
 
  background-image: url('../images/profilelanding.svg');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 200px;

  img{
    max-width: 250px;
    border-radius: 50%;
    border: 2px solid #292929;
    box-shadow: #292929;
  }
}

#introP{
  max-width: 600px;
  color: #292929;
}