nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
  //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 2px solid grey;

  .logoDiv {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
  }
  a {
    font-size: 20px;
    color: inherit;
    text-decoration: inherit;
  }
}


