.skillsDiv {
  width: 100%;
  display: block;
  margin: 100px 0;
  /*
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;*/

  align-self: center;
  h3 {
    align-self: flex-start;
    padding: 0 200px;
    margin: 30px 0;
  }
  .greenline {
    text-decoration: overline;
    text-decoration-color: #bfc022;
    text-decoration-thickness: 4px;
  }
}
.skillsDiv2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-img-top {
  max-width: 80px;
}

.card {
  //max-width: 36px;
  align-items: center;
  border: none !important;
}

.skillscontainer {
  max-width: 850px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 80px;
  
}

@media only screen and (max-width: 900px) {
  .skillscontainer {
    max-width: 350px !important;
  }
  .card-img-top {
    max-width: 50px !important;
  }
}

@media only screen and (max-width: 600px) {
  .skillsDiv {
    margin: 30px 0px !important;
  }
  .skillscontainer {
    gap: 40px !important;
  }
  h3 {
    padding: 0 20px !important;
  }
  .card-img-top {
    max-width: 50px !important;
  }
  .accordion-content{
    width: 280px;
  }
  #introduction{
    p{
      width: 280px;
    }
  }
}

#profileimg2 {
  max-width: 200px;
}

.accordion-content {
  max-width: 400px;
}

#introduction {
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 80px;
  p{
    max-width: 600px;
  }
}

.skills2{
 gap:60px
}

.bi{
 
  width: 25px;
  height: 25px;
  font-weight: 900;
}

.languages{
  img{
    border:1px solid grey;
    border-radius: 0;
  }
}